[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0.*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
djongo = "==1.3.6"
djoser = "==2.2.2"
django-cors-headers = "*"
pytz = "*"
nltk = "*"
spacy = "*"
python-dotenv = "*"
transformers = "*"
torch = "*"
scikit-learn = "*"
pandas = "*"
pymongo = {extras = ["srv"], version = "*"}

[dev-packages]

[requires]
python_version = "3.9.8"
